.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: colAnimation, fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 5;
    animation-direction: normal;
}

@keyframes fontAnimation {
    from{font-size: 20px;}
    to{font-size: 40px;}
}

@keyframes colAnimation {
    0%{
background-color: green;
    }
    50%{
     background-color: yellowgreen;
    }
    80%{
     background-color: red;
    }
    100%{
     background-color: blue;
    }
}

