body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    /*16px*/
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 50px; */
    /* display: flex;
    justify-content: space-between; */
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    border-radius: 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;

}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.5rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;

}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;

}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    border-radius: 100px;
    background-color: white;
    border: none;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.nav-icons-left image {
    margin-left: 0.75rem;
    /* display: inline-block; */
}

.nav-icons-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icons-right button {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1.5rem;
}

.dark-badge {
    background-color: black;
    color: white;
}

@media (max-width:1000px) {
    hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-image {
    width: 100%;
    border-radius: 0.5rem;

}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.album {
    display: flex;
    width: 25%;
}

.album-image img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 7px;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
}

.song-des {
    margin-right: 1rem;
}

.song-name {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.5rem 0 0.25rem 0;
    cursor: pointer;
}

.song-name:hover {
    text-decoration: underline;
}

.singer-name {
    font-size: 0.6rem;
    font-weight: 400;
    margin: 0.25rem 0 0.5rem 0;
    cursor: pointer;
}

.singer-name:hover {
    text-decoration: underline;
}

.heart-icon i {
    height: 0.9rem;
    width: 1rem;
    margin: 1.25rem 0 0 1.25rem;
    opacity: 0.7;
    cursor: pointer;
}

.silent-icon i {
    height: 0.9rem;
    width: 1rem;
    margin: 1.25rem 0 0 1.2rem;
    opacity: 0.7;
    cursor: pointer;
}

i:hover {
    opacity: 1;
}

.controls{
    width: 25%;
}

.controls i {
    height: 0.9rem;
    width: 1rem;
    margin: 1.25rem 0 0 1.2rem;
    opacity: 0.6;
    cursor: pointer;
}

.controls i:hover {
    opacity: 1;
}

.music-player{
    display: flex;
}

.player{
    width: 50%;
}
.player-control-icon{
    height: 1rem;
}